{% extends "layout.html" %}

{% block content %}
<h1>SMS Consent</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Opt out at</th>
    </tr>
  </thead>

  <tbody>
    {% for r in rows %}
    <tr>
      <td>{{ r["last_name"] }}, {{ r["first_name"] }}</td>
      <td>{{ r["phone"] }}</td>
      <td>
        {% if r["sms_opt_in"] and not r["sms_opt_out_at"] %}
          <span style="color:green;">Opted In</span>
        {% else %}
          <span style="color:red;">Opted Out</span>
        {% endif %}
      </td>
      <td>{{ r["sms_opt_out_at"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
